.host-vans-detail-section {
    background-color: white;
    height: 100vh;
}


.host-vans-detail-section img {
    width:  140px;

}
.host-vans-detail-section > div {
    display: flex;
    padding: 1.5em 1.5em 0 1.5em;
    gap: 1em;
    margin-top: 20px;

}
.host-vans-detail-section > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5em;
}
.host-vans-detail-section > div > div > h3 {
    margin: 0;
    font-size: 1.125rem;

}

.detail-nav-links > a {
    text-decoration: none;
    color: black;
    margin: 0;

}





/*  ANIMATIONS  */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    scale: .5;
    margin: auto;
  }

/* DETAIL SECTION */

.details-container {
    display:  flex;
    flex-direction: column;
    line-height: 1.3;
    font-size: .9em;
}
.details-container p {
    margin: 0;
}


  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



