/* ////////// LOGIN FORM   ////////////*/
.reset-password-container{
  display: grid;
  place-items: center;
  height: 100%;
  
  }
  
  .reset-password-login-form{
      position:  relative;
      font-family: inter;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 .8em;
      border-radius: 15px;
      background-color: #fae9c4;
      border: 8px  solid white;
      box-shadow: 0 0 5px gray;
      height: max-content;
      min-height: 320px;
      width: 100%;
      max-width: 550px;
      min-width: 420px;
      z-index: 10;
   
   
    
    }
    .reset-password-login-form h1 {
      font-size: 1.6em;
      margin-top: 1em;
      color: #242424;
    }

    .reset-password-login-form  > h4{
      font-size: 15px;
      color: red;
     
    }

    .reset-password-email {
      display: block;
      padding: .8em;
      border: 1px solid rgb(206, 204, 204);
      border-radius: 5px 5px  0px 0px;
      font-weight: bold;
      background: #fdf6f2;
      font-size: 1rem;
    
    }
  
    .reset-password-login-form button {
      margin-top: 2em;
      padding: 1.2em;
      border-radius: 5px;
      border: unset;
      font-weight: bold;
      background-color: #FF8C38;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-size: 1rem;
    
    }
  
    .reset-password-login-form button:hover{
      background: #313131;
    }

    .reset-password-goback-btn{
      font-size: 15px;
      text-decoration: none;
      padding: 0;
      margin: 0;
      align-self: flex-start;
      font-weight: bold;
      padding: 1em 0 ;

    }
    
    .reset-password-goback-btn:hover{
      text-decoration: underline 2px;
      
    }


        
    @media  (width < 400px) {
      .reset-password-container{
        height: 100vh;
      }

      .reset-password-login-form{
        margin-bottom: 150px;
       }
      
    }

